<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MobileDashboard.MobileDashboard" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.VIBRATE" />
	<application android:label="Dashboard Mobile" android:icon="@drawable/Icon" android:theme="@android:style/Theme.Material.Light">
    
    
</application>
	<uses-sdk />
</manifest>